

.page_0 {
    --primary: #FC6F6B;
    --primary-text: white;
    --secondary: #6986E8;
    --secondary-lighten: #879EED;
    --white-text: #FC6F6B;
    --negative-text: #ffffff;
    background-color: var(--secondary-lighten);
    color: var(--primary-text);
}