

.page_5 {
    --primary: #162A6A;
    --primary-text: white;
    --secondary: #FC6F6B;
    --secondary-lighten: #FD8C89;
    --white-text: #162A6A;
    --negative-text: #ffffff;
    background-color: var(--secondary-lighten);
    color: var(--primary-text);
}