
.page_3 {
    --primary: #F9D100;
    --primary-text: #000000;
    --secondary: #C02322;
    --secondary-lighten: #CD4F4E;
    --white-text: #C02322;
    --negative-text: #ffffff;

    background-color: var(--secondary-lighten);
    color: var(--primary-text);
}