

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #ffffff;
}


tspan {
  transition: all 0.2s linear;
}
tspan:hover {
  opacity: 0.5;
  transform: scale(1.1);
  
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.page_title {
  display: flex;
  font-size: clamp(56px,12vw,202px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.1;
}

.exit_transition_wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 998;
  clip-path: circle(0% at 50% 100%);
}